soap/v1/rpn.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
Document History:
======== Version 0.9 ====================================
i. Document Created 30/06/2017
======== Version 0.10 ====================================
ii. Document updated on 15/09/2017: 
		Revenue Payroll Instruction changed to Revenue Payroll Notification and RPI changed to RPN
		Updated SOAP namespace to Version 1.2
		Added "soapActionRequired" to "soap:operation"
======== Version 1.0 Milesone 1 ====================================
iii. Document updated on 16/09/2017:
======== Version 1.0 Milestone 2 ====================================
iv. Document updated on 24/05/2017:   
-->
<wsdl:definitions name="PayeRPN" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ros.ie/schemas/paye-employers/v1/rpn/" targetNamespace="http://www.ros.ie/schemas/paye-employers/v1/rpn/">

	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.ros.ie/schemas/paye-employers/v1/rpn/" schemaLocation="rpn/rpn-schema.xsd" />
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="LookupRPNRequest">
		<wsdl:part element="tns:LookupRPNRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="LookupRPNResponse">
		<wsdl:part element="tns:LookupRPNResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="NewRPNRequest">
		<wsdl:part element="tns:NewRPNRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="NewRPNResponse">
		<wsdl:part element="tns:NewRPNResponse" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="RPNPortType">
		<wsdl:operation name="LookupRPNOperation">
			<wsdl:input message="tns:LookupRPNRequest"/>
			<wsdl:output message="tns:LookupRPNResponse"/>
		</wsdl:operation>
		<wsdl:operation name="NewRPNOperation">
			<wsdl:input message="tns:NewRPNRequest"/>
			<wsdl:output message="tns:NewRPNResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="RPNBindingSOAP" type="tns:RPNPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="LookupRPNOperation">
			<soap:operation soapAction="http://www.ros.ie/schemas/paye-employers/v1/rpn/LookupRPNOperation" soapActionRequired="true"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewRPNOperation">
			<soap:operation soapAction="http://www.ros.ie/schemas/paye-employers/v1/rpn/NewRPNOperation" soapActionRequired="true"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="RPNOnlineService">
		<wsdl:port name="RPNBindingSOAP" binding="tns:RPNBindingSOAP">
			<soap:address location="https://www.ros.ie/schemas/paye-employers/v1/rpn"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
